{% extend_me %}

{% block project_heading_info %}
    {% set breedBase = request.h.check_integration(request, activeUser.login, activeProject.project_cod) %}
    {% if breedBase == 1 %}
        {%  set breedBaseImage = request.url_for_static('BreedBase_pass.png', 'brapi') %}
        {%  set breedBaseMessage = _('This project can be integrated with BreedBase.') %}
    {% endif %}
    {% if breedBase == 0 %}
        {%  set breedBaseImage = request.url_for_static('BreedBase_pass.png', 'brapi') %}
        {%  set breedBaseMessage = _('This project uses technologies that are not crop. Integration with Breedbase is not possible.') %}
    {% endif %}
    {% if breedBase == 2 %}
        {%  set breedBaseImage = request.url_for_static('BreedBase_pending.png', 'brapi') %}
        {%  set breedBaseMessage = _('This project does not have technologies. Integration with Breedbase will be checked once technologies are added.') %}
    {% endif %}
    {% if breedBase == -1 %}
        {%  set breedBaseImage = request.url_for_static('BreedBase_no.png', 'brapi') %}
        {%  set breedBaseMessage = _('This project is not integrated with BreedBase. You can integrate it in the project profile') %}
    {% endif %}
    <td width="95%">
        <div class="row">
            <div class="col-md-12">
                <h2 style="float: left"><strong>{{ activeProject.project_name }}</strong></h2><spam><img style="margin-left: 10px; margin-top: 5px" title="{{ breedBaseMessage }}" src="{{ breedBaseImage }}"></spam>
            </div>
        </div>
    </td>
    <td rowspan="2" class="text-center">
        <a href="https://climmob.net/blog/wiki/main-menu/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('landing/info.png') }}" alt="info"/> </a>
    </td>
{% endblock project_heading_info %}