{% extend_me %}

{% block project_heading_info %}
    {% set breedBase = request.h.check_integration(request, activeProject.project_id) %}
    {% if breedBase == 1 %}
        {% if request.h.token_is_valid(activeUser.userData.breedbase_token_expires_on) == True %}
            {%  set breedBaseImage = request.url_for_static('BreedBase_pass.png', 'brapi') %}
            {%  set breedBaseMessage = _('This project can store data in BreedBase.') %}
        {% else %}
            {%  set breedBaseMessage = _('This project can store data in BreedBase but you need to login') %}
            {%  set breedBaseImage = request.url_for_static('BreedBase_loggin.png', 'brapi') %}
        {% endif %}
    {% endif %}
    {% if breedBase == 0 %}
        {%  set breedBaseImage = request.url_for_static('BreedBase_pass.png', 'brapi') %}
        {%  set breedBaseMessage = _('This project uses technologies that are not crop. Integration with Breedbase is not possible.') %}
    {% endif %}
    {% if breedBase == 2 %}
        {%  set breedBaseImage = request.url_for_static('BreedBase_pending.png', 'brapi') %}
        {%  set breedBaseMessage = _('This project does not have technologies. Integration with Breedbase will be checked once technologies are added.') %}
    {% endif %}
    {% if breedBase == -1 %}
        {%  set breedBaseImage = request.url_for_static('BreedBase_no.png', 'brapi') %}
        {%  set breedBaseMessage = _('This project is not integrated with BreedBase. You can integrate it in the project profile') %}
    {% endif %}
    <td width="95%">
        <div class="row">
            <div class="col-md-12">
                <h2 style="float: left"><strong>{{ activeProject.project_name }}</strong></h2><spam><img id="BreedBaseImage" style="margin-left: 10px; margin-top: 5px" title="{{ breedBaseMessage }}" src="{{ breedBaseImage }}"></spam>
                {% if breedBase == 1 %}
                    {% if activeProject.breedbase_login == 1 %}
                        {% if request.h.token_is_valid(activeUser.userData.breedbase_token_expires_on) == False %}
                            <button type="button" class="btn btn-primary" id="BreedBaseLogin">
                                {{ _('Login into BreedBase') }}
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-primary" id="BreedBaseSynch">
                                {{ _('Synchronize with BreedBase') }}
                            </button>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </td>
    <td rowspan="2" class="text-center">
        <a href="https://climmob.net/blog/wiki/main-menu/" target="_blank"><img style="width: 25px; height: 25px " src="{{ request.url_for_static('landing/info.png') }}" alt="info"/> </a>
    </td>
{% endblock project_heading_info %}

{% block script_extra %}
    {% set breedBase = request.h.check_integration(request, activeProject.project_id) %}
    {% if breedBase == 1 %}
        {% if activeProject.breedbase_login == 1 %}
            {% if request.h.token_is_valid(activeUser.userData.breedbase_token_expires_on) == False %}
                {{ super() }}
                <script>
                    $(document).ready(function() {
                        $( "#BreedBaseLogin" ).click(function() {
                            location.href="{{ request.route_url("brapi_oi_login") }}";
                        });
                    });
                </script>
            {% else %}
                {{ super() }}
                <script>
                    $( "#BreedBaseSynch" ).click(function() {
                        $.ajax({
                            url: "{{ request.route_url("brapi_synchronize",project=activeProject.project_id) }}",
                            datatype: "json",
                            type: "POST",
                            data: {"csrf_token": "{{ request.session.get_csrf_token() }}"},
                            success: function() {
                                alert("Done")
                            },
                            error: function() {
                                alert("Something went wrong. We will refresh the page to see if you need to login in BreedBase again")
                                location.href = "{{ request.route_url("dashboard") }}";
                            }
                        });
                    });
                </script>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock script_extra %}